doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Form Validator - Neumorphism Style
    link(href=require("./favicon.ico"), rel='shortcut icon')
  body
    input.mode-checkbox(type="checkbox")
    .container
      form#form.form
        h2.form__heading Register With Us
        .input
          .input__box
            label.input__label(for="username") Username
            input#username.input__field(type="text", placeholder="Enter username")
            small.input__small Error message
          .input__box
            label.input__label(for="email") Email
            input#email.input__field(type="text", placeholder="Enter email")
            small.input__small Error message
          .input__box
            label.input__label(for="password") Password
            input#password.input__field(type="password", placeholder="Enter password")
            small.input__small Error message
          .input__box
            label.input__label(for="password2") Confirm Password
            input#password2.input__field(type="password", placeholder="Enter password again")
            small.input__small Error message
          .input__box
            input.input__submit(type="submit", value="Submit")
